@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: seamless scrolling */
html, body {
  overscroll-behavior-y: none; /* Prevents "pull to refresh" on mobile which feels nicer for apps */
}